.carousel-item {
    height: 42rem;
    background: #777;
    position: relative;
}
.carousel-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.carousel-header {
}
.index-container {
    display: flex;
    flex-wrap: wrap;
}
.index-carousel-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.index-carousel-width {
    width: 1200px;
    height: 100%;
    align-self: center;
    padding-top: 50px;
}
.index-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-button-login {
    padding-left: 10px;
    padding-top: 20px;
}
.container-button-signup {
    padding-right: 10px;
    padding-top: 20px;
}
.index-button-signup {
    color: #fff;
    background-color: #b02a37;
    border-color: #6a1a21;
}
.index-button-signup:hover {
    color: #fff;
    background-color: #842029;
    border-color: #6a1a21;
}
.index-button-login {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.index-button-login:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
.login-container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.login-container-box {
    width: 500px;
}