<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PLGym - Bem Vindo!</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom-styles.css">
</head>
<body>
    <div class="index-container">
        <div class="index-carousel-div">
            <div class="index-carousel-width">
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <div class="carousel-header">
                            <h1>Costumize seu treino</h1>
                        </div>
                        <div class="carousel-p">
                            <p>Escolha seus exercícios dentre diversas opções</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-buttons">
            <div class="container-button-signup">
                <a href="#" class="btn btn-lg index-button-signup">
                    Cadastre-se
                </a>
            </div>
            <div class="container-button-login">
                <a href="#" class="btn btn-lg index-button-login">
                    Login
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</body>
</html>
