/**** CAROUSEL ****/

.carousel-item {
    height: 100%;
    background: #777;
    position: relative;
}
.container-index {
    display: flex;
    justify-content: center;
    height: 100%;
}
.carousel-inner {
    max-width: 80rem;
    height: 700px;
}
.carousel {
    height: 100%;
}

/**** BUTTONS ****/

.index-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-button-login {
    padding-left: 10px;
    padding-top: 20px;
}
.container-button-signup {
    padding-right: 10px;
    padding-top: 20px;
}
.index-button-signup {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0a58ca;
}
.index-button-signup:hover {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a58ca;
}
.index-button-login {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.index-button-login:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
.bg-info {
    --bs-bg-opacity: 0.25;
}

/**** LOGIN ****/

.login-container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.login-container-box {
    width: 500px;
}

/**** MY WORKOUT ****/

.table-myworkout {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.table-discover {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/**** PROFILE ****/

.form-profile {
    padding-top: 50px;
    width: 40%;
}

.form-button-profile {
    text-align: center;
}